
.UsersPostWrapper{
  background-color: gray;
  display: flex;
}

.Users{
  width: 50%;
  background-color: skyblue;
}

.Posts{
  background-color: olive;
}

.Comments{
background-color: rebeccapurple;
}